{% extends "../layout-admin.njk" %}

{% block head %}

<title>Admin - Editando perfil</title>

{% endblock head %}

{% block content %}

<div class="admin">

    <div class="form user">
        <form method="POST" action="/admin/users?_method=PUT">
            <div class="head">
                <div>
                  <span><h1>Atualizar Usuário</h1></span>
                </div>
                <div class="button-wrapper">
                    <div class="delete">
                        <form method="POST" action="/admin/users?_method=DELETE">
                            <input type="hidden" name="id" value="{{recipe.id}}">
                            <button class="button-delete" type="submit" onClick="confirmationOfButtons.verifyingBeforeDeleteUser(event)">
                              <span>Deletar</span>
                            </button>
                        </form>
                    </div>
                    <button class="button" type="text" onClick="confirmationOfButtons.verifyingBeforeUpdateUser(event)">
                      <span>Salvar</span>
                    </button>
                </div>
            </div>
            <div class="fields">
              <div class="info-user">
                  <div class="item">
                    <div>Nome</div>
                    <div>
                      <input type="text" name="name" placeholder="Digite o seu nome" value="{{user.name}}" required>
                    </div>
                  </div>
                  <div class="item">
                      <div>Email</div>
                      <div>
                        <input type="text" name="email" placeholder="Digite o seu email" value="{{user.email}}" required>
                      </div>
                  </div>
              </div>
              <div class="adm">
                <input type="checkbox" id="is_admin" name="is_admin" {% if userIsAdmin %} checked {% endif %}>
                <label for="is_admin">Administrador</label>
              </div>
            </div>
        </form>
    </div>
</div>


{% endblock content %}

