@keyframes hidemessage {
  to {
    top: -100px;
    opacity: 0;
  }
}

.messages {
  position: absolute;
  width: 23vw;
  height: 14.62vh;
  padding: 1rem;

  box-sizing: border-box;

  right: 1.8rem;
  top: 1.2rem;

  border-radius: 0.3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  opacity: 1;

  animation: hidemessage 400ms 5s ease-out forwards;
}

.messages p {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: bold;

  color: #ffffff;
}

.messages.success {
  background-color: #01b12a;
}

.messages.error {
  background-color: #dc4747;
}
