@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap";

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;

  margin: 0;
}

body {
  background-color: rgb(255, 255, 255);

  height: 100%;
  width: 100%;

  box-sizing: border-box;

  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  color: black;
}

body .all {
  width: 940px;
  min-height: 100%;
  box-sizing: border-box;

  margin: 0 auto -40px auto;
}

body .push,
footer {
  height: 50px;
}

footer {
  box-sizing: content-box;
  min-width: 940px;

  background-color: rgb(238, 238, 238);

  display: flex;
  align-items: center;
  justify-content: center;
}

footer div p {
  text-align: center;
  font-size: 14px;
  line-height: 16px;

  color: rgb(153, 153, 153);
}

.menu {
  width: 100%;

  margin-bottom: 30px;
}
.menu {
  display: grid;
  grid-template: 1fr / 1fr 400px;

  align-items: center;
}

.menu ul {
  display: flex;

  padding: 0;

  list-style: none;

  align-items: center;
}

.menu ul .logo {
  margin-right: 123px;
}

.menu ul li {
  margin-right: 30px;

  width: fit-content;
  height: fit-content;
}

.menu ul a {
  text-decoration: none;

  color: black;

  line-height: 19px;

  width: fit-content;
  height: fit-content;
}

.menu ul .activated {
  font-weight: bold;
}

.menu div:nth-child(2) {
  position: relative;

  display: none;
}

/* .menu .filter {
  display: none;
} */

.menu .filter.show {
  display: block;
}

.menu form {
  position: absolute;
  right: 0;
  top: -18px;
}

.menu form input {
  width: 246px;
  height: 37px;
  padding-top: 11px;
  padding-left: 15px;
  padding-bottom: 10px;

  margin-right: 8px;

  font-size: 15px;
  line-height: 16px;

  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  border-radius: 4px;

  box-sizing: border-box;
}

.menu form input::placeholder {
  color: #999999;
}

.menu form button {
  width: 91px;
  height: 37px;

  box-sizing: border-box;

  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;

  background: #6558c3;
  border: none;
  border-radius: 4px;
  border-radius: 4px;

  cursor: pointer;
}

.menu form button:hover {
  background-color: #6056aa;
}

.content {
  background-color: rgba(250, 128, 114, 0.4);

  border-radius: 30px;

  width: auto;
  height: 366px;

  display: grid;
  grid-template-columns: 350px 1fr 300px;

  align-items: center;
}

.goal {
  max-width: 316px;

  margin-left: 4vw;
}

.goal h1 {
  margin: 0 0 10px 0;

  font-size: 32px;
}

.goal p {
  margin: 0;

  opacity: 0.7;

  font-size: 18px;
  line-height: 28px;
}

.content chef {
  position: absolute;
  right: 0;
}

.wrapper-grid {
  width: auto;
  height: auto;

  margin-top: 30px;
}

.wrapper-grid h1 {
  margin: 0 0 20px 0;

  font-size: 24px;
  line-height: 28px;
  color: rgb(17, 17, 17);
}

.cards {
  max-width: 940px;
  height: auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  max-width: 300px;
  height: auto;

  cursor: pointer;
}

.card img {
  width: 300px;
  height: 120px;

  object-fit: cover;

  border-radius: 15px;

  margin-bottom: 20px;
}

.card h2 {
  font-size: 18px;
  line-height: 21px;

  font-weight: 500;

  color: rgb(17, 17, 17);

  margin: 0 0 5px 0;
}

.card p {
  margin: 0 0 10px 0;

  font-size: 14px;
  line-height: 16px;

  color: rgb(119, 119, 119);
}

/*=== About page ===*/

.text-about h1 {
  font-size: 24px;
  line-height: 28px;

  margin: 50px 0 20px 0;
}

.text-about h2 {
  font-size: 20px;
  line-height: 24px;

  margin: 25px 0 12px;
}

.text-about p {
  font-size: 18px;
  line-height: 28px;

  color: rgb(68, 68, 68);
}

/* === Recipe Page === */

.recipe {
  margin: -65px auto 0 auto;
  width: 940px;
}

.recipe img {
  max-width: 100%;
  min-width: 100%;
  max-height: 280px;

  object-fit: cover;

  border-radius: 20px;
}

.recipe h1,
.recipe h3 {
  text-align: center;
}

.recipe h1 {
  margin-top: 50px;
}

.recipe h3 {
  margin-bottom: 50px;

  font-size: 20px;
  line-height: 24px;
  font-weight: normal;

  color: #777777;
}

.step {
  box-sizing: border-box;
}

.step .info-content {
  margin-bottom: 20px;
  margin-top: 39px;

  display: flex;

  justify-content: left;

  align-items: center;
}

.step .info-content h2 {
  padding: 0;
  margin: 0;

  font-size: 24px;
  line-height: 28px;
}

.step .info-content p {
  margin-left: 8px;

  font-size: 12px;
  line-height: 14px;

  font-weight: bold;

  cursor: pointer;

  color: #999999;
}

.preparation.hidden {
  visibility: hidden;
  display: none;
}

.preparation ul {
  list-style-position: inside;
  list-style-type: "- ";
}

.preparation ul li,
.preparation p {
  font-size: 18px;
  line-height: 28px;

  color: #444444;
}

.preparation {
  visibility: visible;
}

/* === ADMIN PAGE === */

.all.admin {
  width: 100%;
  min-width: 940px;
  min-height: 100%;
}

.all.admin .menu.admin {
  margin: 0;
}

.all.admin header {
  background-color: black;
  max-height: 80px;
}

header .links {
  max-width: 940px;
  min-width: 940px;
  max-height: 80px;

  margin: 0 auto;

  box-sizing: border-box;
}

.menu.admin {
  display: flex;
  align-items: center;
}

.menu.admin ul li a {
  color: #999999;
  font-weight: bold;
}

.menu.admin ul li .activated {
  color: #ffffff;
  font-weight: bold;
}

.all nav img {
  box-sizing: border-box;
  padding: 25px;
  padding-left: 0;
}

.all .admin {
  width: 940px;
  height: auto;

  margin: 50px auto;
}

.admin .wrapper-grid {
  box-sizing: border-box;
  display: grid;

  grid-template-columns: 1fr 1fr;
}

.card-content {
  width: 350px;

  display: grid;

  grid-template-columns: 192px 1fr;

  height: 80px;

  margin-bottom: 20px;
}

.card-content > span {
  width: 172px;
  height: 80px;

  border-radius: 10px;
  box-shadow: 1px 0px 8px 2px #ccc;

  background-repeat: no-repeat;
  background-position: center bottom;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.card-content h2 {
  font-size: 16px;
  line-height: 21px;

  margin-bottom: 5px;
}

.card-content p {
  font-size: 14px;
  line-height: 16px;
  color: #777777;

  margin-bottom: 10px;
}

.card-content a {
  text-decoration: none;
  color: #6558c3;

  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

/* === ADMIN RECIPE PAGE ===*/

.recipe .head,
.chef .head {
  width: 910px;
  margin-top: 50px;
  display: flex;

  align-items: center;
  justify-content: space-between;

  margin-bottom: 30px;

  box-sizing: border-box;
}

.recipe .button-edit,
.recipe .button,
.chef .button-edit {
  width: 136px;
  height: 37px;

  cursor: pointer;

  border: none;
  border-radius: 4px;
  box-shadow: 1px 2px 7px 1px rgba(7, 7, 7, 0.17);
  box-sizing: border-box;

  text-decoration: none;
  background-color: #6558c3;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}

.head .button-edit:hover {
  background-color: #6056aa;
}

.head .button-edit:active {
  background-color: #6558c3;
}

header {
  min-width: 940px;
}

.head h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}

/* === FORM AND ITS FIELDS ===*/

.recipe .form {
  width: 950px;
  position: relative;
}

.form .delete {
  position: absolute;

  top: 0;
  right: 165px;
}

.recipe {
  min-width: 950px;
  padding: 20px;
  box-sizing: border-box;
}

.recipe .fields,
.recipe #chefs {
  width: 100%;
}

.head .button-wrapper {
  width: fit-content;
  position: absolute;
  right: 0px;
  top: 0;
}

.form .button-delete {
  width: 92px;
  height: 37px;

  cursor: pointer;

  border: none;
  border-radius: 4px;
  box-shadow: 1px 2px 7px 1px rgba(7, 7, 7, 0.17);
  box-sizing: border-box;

  box-sizing: border-box;

  text-decoration: none;
  background-color: #dc4747;
  color: white;

  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}

.form .button-delete:hover {
  background-color: #b40b0b;
}

.form .button-delete:active {
  background-color: #dc4747;
}

.head .button {
  width: 136px;
  height: 37px;

  cursor: pointer;

  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 6px 0px rgba(7, 7, 7, 0.1);
  box-sizing: border-box;

  text-decoration: none;
  background-color: #6558c3;
  color: white;

  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}

.head .button:hover {
  background-color: #6056aa;
}

.head .button:active {
  background-color: #6558c3;
}

/* === IMAGES-UPLOAD INPUT AND WRAPPER === */

.fields .item .images-wrapper {
  width: 100%;
  height: 150px;

  position: relative;
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 10px;

  align-items: center;
  justify-content: left;
}

.fields .item .images-upload,
.fields .item .images-upload input {
  width: 150px;
  height: 150px;

  position: absolute;

  left: 0;
  top: 0;
}
.fields .item .images-upload input {
  z-index: 100;

  padding: 0;
  opacity: 0;
  cursor: pointer;
}

.fields .item .images-upload div {
  background-color: white;
  width: 150px;
  height: 150px;
  border: 1px solid #dddddd;
  border-radius: 3.5px;
  border-radius: 3, 5px;

  position: relative;
  box-sizing: border-box;
}

.fields .item .images-upload div i {
  font-size: 35px;
  color: #777777;
  position: absolute;

  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, -50%);
}

.fields .item .preview-images {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 150px);
  gap: 10px;

  box-sizing: border-box;
}

.fields .item .preview-images div {
  width: 150px;
  height: 150px;

  position: relative;

  border: 1px solid #dddddd;
  border-radius: 3.5px;
  border-radius: 3, 5px;

  background-color: yellow;

  box-sizing: border-box;
}

.fields .item .preview-images div img {
  border-radius: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.fields .item .preview-images i {
  position: absolute;

  font-size: 40px;
  color: #ff0000;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #dddddd;
  opacity: 0;

  cursor: pointer;

  transition: 200ms;
}

.fields .item .preview-images i:hover {
  opacity: 0.6;
}

/* === ALL THE OTHER FIELDS OF FORM === */

.fields .item {
  margin-top: 30px;
  max-width: 950px;
}

.fields .item div:first-child {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;

  margin-bottom: 10px;
}

.fields .item .ingredient,
.item .step {
  margin-bottom: 10px;
}

.fields .item input,
.item #chefs {
  width: 100%;
  height: 49px;

  border-radius: 4px;
  border: 1px solid #dddddd;
  padding: 15px 20px;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 19px;
  color: #444444;
}

#chefs option:first-child {
  font-size: 16px;
  line-height: 19px;
  color: #999999;
}

#chefs option {
  color: #444444;
}

.item button {
  width: fit-content;
  height: 25px;

  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  text-align: left;

  border: none;
  background-color: white;
  color: #6558c3;

  box-sizing: border-box;

  cursor: pointer;
}

.chef-avatar {
  max-width: 940px;
  min-height: 50px;

  display: flex;

  box-sizing: border-box;

  align-items: center;
  gap: 30px;
}

p.avatar {
  background-color: #6558c3;
  color: white;

  width: 140px;
  min-height: 37px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 16px;

  border-radius: 4px;
  border: none;
  box-sizing: border-box;

  cursor: pointer;
}

.item:last-child textarea {
  min-width: 950px;
  height: 257px;
  box-sizing: border-box;

  border-radius: 4px;
  border: 1px solid #dddddd;
  padding: 15px 20px;

  font-size: 16px;
  line-height: 19px;
}

.all.admin .recipe {
  margin: -30px auto 0 auto;
  width: 940px;
}

/* === CHEFS PAGES === */

.all.admin .chef {
  max-width: 940px;
  margin: 0 auto;
}

.chef .chef-info {
  width: fit-content;
  margin: 0 auto;
}

.chef .chef-info img {
  width: 200px;
  height: 200px;

  border-radius: 50%;
}

.chef-info .chef-img {
  display: flex;

  justify-content: center;
}

.chef-info .name-recipes {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 50px;

  display: grid;
  grid-template: 1fr 1fr / 1fr;

  gap: 4px;

  justify-content: center;
}

.chef-info h1 {
  margin-top: 30px;

  width: fit-content;
}

.name-recipes h1 {
  font-size: 36px;
  line-height: 42px;
}

.name-recipes h2 {
  margin: 0 auto;

  color: #777777;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
}

/* LIST OF CHEFS */

.wrapper-grid.admin {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;

  column-gap: 20px;
  row-gap: 30px;
}

.wrapper-grid.admin .card-content span {
  width: 64px;
  height: 64px;

  border-radius: 50%;
}

.wrapper-grid.admin .card-content {
  width: 250px;
  height: 64px;
  margin-bottom: 0;

  grid-template: 1fr 1fr / 64px 1fr;

  column-gap: 20px;
  row-gap: 0px;
  align-items: center;
}

.card-info h2 {
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  color: #111111;
}

.card-info div {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: hsla(0, 0%, 60%);
}
