{% extends "../layout-recipes_chefs.njk" %}

{% block content %}
    <div id="filter"
    data-filter = {{filter}}>
    </div>
    <div class="wrapper-grid">
        <div class="cards">
        {% for recipe in recipes %}

            <div class="card" id="{{recipe.id}}">
                <img src="{{recipe.image}}" alt="imagem de {{recipe.title}}">
                <h2>{{recipe.title}}</h2>
                <span><p>por {{recipe.chef}}</p></span>
            </div>

        {% endfor %}

        {% for recipe in recipes %}

            <div class="card" id="{{recipe.id}}">
                <img src="{{recipe.image}}" alt="imagem de {{recipe.title}}">
                <h2>{{recipe.title}}</h2>
                <span><p>por {{recipe.chef}}</p></span>
            </div>

        {% endfor %}
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    <script src="/recipeLogic.js"></script>
{% endblock scripts %}