<div class="fields">
    <div class="item">
        <div>Nome</div>
        <div><input type="text" name="title" value="{{chef.title}}" required></div>
    </div>
    <div class="item">
        <div>Avatar</div>
        <div>
            <input type="url" name="avatar_url" id="">
        </div>
    </div>
</div>