{% extends "../layout-admin.njk" %}

{% block head %}

<title>Admin - Criando</title>

{% endblock head %}

{% block content %}

<div class="recipe">

    <div class="form">
        <form method="POST" action="/admin/recipes">
            <div class="head">
                <div>
                    <span><h1>Criando Receita</h1></span>
                </div>
                <div class="button-wrapper">
                    <button class="button" type="submit"><span>Salvar Receita</span></a>
                </div>
            </div>
            {%include "admin/recipes/fields.njk"%}
        </form>
    </div>
</div>


{% endblock content %}

{% block scripts %}
<script src="/addNewInput.js"></script>
<script src="/confirmationOfButtons.js"></script>
{% endblock %}
