<header>
  <nav class="menu admin">
    <div>
        <ul>
          <li class="logo"><a href="/admin"><img src="//localhost:3000/img-app/logo-admin.png" alt="logo do site"></a></li>
          <li><a href="/admin">Receitas</a></li>
          <li><a href="/admin/chefs">Chefs</a></li>
          <li><a href="/admin/profile">Usuários</a></li>
        </ul>
    </div>
    <div class="logout">
      <p><a href="/admin/logout">Sair</a></p>
    </div>
  </nav>
</header>