<header>
  <nav class="menu admin">
    <div>
        <ul>
          <li class="logo"><a href="/admin/recipes"><img src="//localhost:3000/img-app/logo-admin.png" alt="logo do site"></a></li>
          <li><a href="/admin/recipes">Receitas</a></li>
          <li><a href="/admin/chefs">Chefs</a></li>
        </ul>
    </div>
  </nav>
</header>