{% if success %}
  <div class="messages success">
    <p>Essa é uma mensagem de sucesso{{success}}</p>
  </div>
{% endif %}

{% if error %}
  <div class="messages error">
    <p>Essa é uma mensagem de erro{{success}}</p>
  </div>
{% endif %}

